@media only screen and (min-width : 901px) {
#services>ul>li{
      top: 10%;
      margin-bottom: 20px;
      margin-right: 10%;
      display: inline-block;
}
#services{
      position: absolute;
      top:7%;
      z-index: -1;
       
}

#services h1{
      text-align: center;
}
}

@media only screen and (max-width : 900px){
      #services>ul>li{
            text-align: center;
            top: 9%;
            margin-bottom: 20px;
            margin-left: -10%;
            display: inline-block;
      }
      #services{
            position: absolute;
            top:6%;
            z-index: -1;
             
      }
      
      #services h1{
            text-align: center;
      }
}
 
